* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 880px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (min-width: 881px) and (max-width: 1215px) {
    .container {
      align-items: center;
    }
  }
}

button {
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #be5f2b;
  box-shadow: 0 30px 70px -20px #546e7a;
  width: 100%;
  padding: 16px 0;
  margin: 40px 0px 6px 0px;
  border-radius: 50px;
  transition: all 400ms ease-in-out;
}
button:hover {
  background-color: #e28350;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #94c4c2;
  display: flex;
}

.login .loginContainer {
  padding: 70px;
  margin: 200px auto;
  border-radius: 35px;
  width: 65%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(228, 245, 245);
  box-shadow: 0 30px 70px -20px #546e7a;
}

.login .loginContainer label {
  color: rgb(216, 196, 196);
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 12px;
  background: rgba(137, 146, 125, 0.1);
  color: rgb(74, 74, 78);
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: rgb(74, 74, 78);
}

.login .loginContainer .btnContainer p span {
  color: #a3862f;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: #caa945;
}

.login .loginContainer .errorMsg {
  color: #963703;
  font-size: 16px;
}

.main {
  width: 100%;
  min-height: 100vh;
  background: #eceff1;
}

.main nav {
  background-image: url(./electronic.png) no-repeat top;
}

.main nav button {
  width: 90px;
  padding: 8px 0;
  background-color: #7b9ea8;
  box-shadow: 20px 80px 70px -20px #546e7a;
  position: absolute;
  top: -20px;
  right: 16px;
}

nav button:hover {
  background-color: #94c4c2;
}
